body { background: #ee915f; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 33px; display: flex; }
.block-uploader-0 { color: #38e8ce; font-size: 15px; margin-bottom: 5px; }
.block-product-1 { color: #b81ef6; font-size: 12px; margin-bottom: 5px; }
.block-product-2 { color: #4c0a4e; font-size: 15px; margin-bottom: 5px; }
.block-logger-3 { color: #c94813; font-size: 18px; margin-bottom: 5px; }
.block-cache-4 { color: #1e0545; font-size: 16px; margin-bottom: 5px; }
.block-payment-5 { color: #3c2afe; font-size: 16px; margin-bottom: 5px; }
.block-user-6 { color: #736cd1; font-size: 15px; margin-bottom: 5px; }
.block-metrics-7 { color: #5bab1; font-size: 13px; margin-bottom: 5px; }
.block-order-8 { color: #bd2604; font-size: 13px; margin-bottom: 5px; }
.block-router-9 { color: #f99e33; font-size: 14px; margin-bottom: 5px; }